p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}
.photo-card {
  width: 280px;
}
